# Listen

Bislang haben wir in einer Variable jeweils nur ein Element (Zahl oder String) gespeichert.

In [ ]:
student1 = "Max"
student2 = "Monika"
student3 = "Erik"
student4 = "Franziska"

### Eine Liste erstellen
**Listen** hingegen können mehrere Elemente enthalten. Man erzeugt eine Liste und füllt sie mit Elementen wie folgt:

**Listenname = [Element1, Element2, Element3]** 

Natürlich kann eine Liste nicht nur drei, sondern beliebig viele Elemente enthalten.

Konkret kann das dann so aussehen:

In [7]:
studenten = ["Max", "Monika", "Erik", "Franziska"]

In [2]:
noten = [4, 3, 2, 1]

In [3]:
noten

[4, 3, 2, 1]

Listen kannst du wie Zahlen und Strings per print()-Befehl ausgeben.

In [3]:
print(studenten)

['Max', 'Monika', 'Erik', 'Franziska']

In einer Liste dürfen auch Strings und Zahlen nebeneinander vorkommen, doch davon ist abzuraten! Wir werden dafür später geeignetere Strukturen kennenlernen. :-)

In [7]:
# In einer Liste dürfen auch Strings und Zahlen nebeneinander vorkommen, doch davon ist abzuraten! Wir werden dafür später geeignetere Strukturen kennenlernen. :-)

In [4]:
kursteilnehmer = ["Thierry", "Florian", "Priska", "Ralf"]

In [5]:
kursteilnehmer

['Thierry', 'Florian', 'Priska', 'Ralf']

### Ein Element aus einer Liste auswählen
Du kannst auch auf die Elemente aus einer Liste einzeln zugreifen. Stell dir vor, dass alle Elemente in einer Liste durchnummeriert sind, aufsteigend von 0 an. Per **Index** kannst du ein Element über seine Position in der Liste anwählen: 

**Listenname[Position]**

Konkret sieht das so aus:

In [9]:
print(kursteilnehmer[0]) #Informatiker fangen immer bei 0 (Null) an zu zählen > 1. Eintrag in Liste ist also 0

Thierry

In [11]:
print(kursteilnehmer[1])

Florian

In [14]:
frauen = kursteilnehmer[2]

In [15]:
print(frauen)

Priska

Die ausgewählten Elemente aus einer Liste kannst du dann weiterverarbeiten wie du das von Variablen schon kennst. Dabei solltest du beachten, ob es sich bei den Elementen um Zahlen oder Strings handelt.

In [8]:
print(studenten[0] + " und " + studenten[3])

Max und Franziska

In [16]:
# geht auch mit Zahlen > den Notendurchschnitt ausrechnen:
print((noten[0] + noten[1] + noten[2] + noten[3]) / 4)

2.5

### Ein weiteres Element an eine Liste anhängen
Möchtest du ein weiteres Element an deine Liste anhängen, verwendest du den **append()**-Befehl. Anders als die Befehle, die du schon kennst, wie den print()-Befehl, steht append() nicht für sich, sondern mit einem Punkt _hinter_ dem Objekt, auf den append() angewendet wird: 

**Listenname.append(Element)**

In [12]:
studenten.append("Plotti")

Jetzt schauen wir uns an, ob der Befehl auch funktioniert hat ;-):

In [13]:
print(studenten)

['Max', 'Monika', 'Erik', 'Franziska', 'Moritz', 'Plotti']

In [17]:
kursteilnehmer.append("Yannick")

In [18]:
kursteilnehmer

['Thierry', 'Florian', 'Priska', 'Ralf', 'Yannick']

### Ein Element entfernen
Genauso wie du ein Element hinzufügen kannst, so kannst du auch das letzte Element aus der Liste entfernen. 

**Listenname.pop()**

In [1]:
planets = ["Merkur", "Venus", "Erde", "Mars", "Jupiter", "Saturn", "Uranus", "Neptun", "Pluto"]
planets.pop()
print(planets)

['Merkur', 'Venus', 'Erde', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptun']

In [2]:
planets = ["Merkur", "Venus", "Erde", "Mars", "Jupiter", "Saturn", "Uranus", "Neptun", "Pluto"]

p = planets.pop()
print(p)

print(planets)

Pluto
['Merkur', 'Venus', 'Erde', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptun']

In [5]:
#man kann auch bestimmtes Obekt aus Liste entfernen > in Klammer Nummer der Platzierung in der Liste reinschreiben

planets = ["Merkur", "Venus", "Erde", "Mars", "Jupiter", "Saturn", "Uranus", "Neptun", "Pluto"]
print(planets.pop(1))
print(planets)

Venus
['Merkur', 'Erde', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptun', 'Pluto']

### Die Länge einer Liste abfragen
Mit dem len-Befehl kannst du herausfinden, wie viele Elemente eine Liste enthält: **len(Listenname)**

In [8]:
print(len(studenten))

4

In [9]:
len(studenten)

4

## Übung
- Speichere die Namen aller Kursteilnehmer in einer Liste, angefangen mit Dir.
- Jetzt füge per append die Instruktoren hinzu.
- Jetzt füge per append noch Dein Alter hinzu. 
- Jetzt lösche lieber Dein alter. 
- Gib die Liste aus.

In [45]:
kursteilnehmer = ["Yannick", "Reto", "Lea", "Denise", "Peter", "Claudia", "Edzard", "Michael", "Ralf", "Priska", "Florian"]

In [10]:
kursteilnehmer.append("Barnaby", "Thomas", "Thierry")

NameError: name 'kursteilnehmer' is not defined

In [46]:
# Funktioniert nicht
# Wenn mehrere Namen/Elemente > extend statt append + Doppelklammer

kursteilnehmer.extend(("Barnaby", "Thomas", "Thierry"))

In [47]:
kursteilnehmer.append(32)

In [48]:
kursteilnehmer

['Yannick',
 'Reto',
 'Lea',
 'Denise',
 'Peter',
 'Claudia',
 'Edzard',
 'Michael',
 'Ralf',
 'Priska',
 'Florian',
 'Barnaby',
 'Thomas',
 'Thierry',
 32]

In [52]:
# letztes Element aus der Liste löschen

kursteilnehmer.pop()

32

In [53]:
kursteilnehmer

['Barnaby',
 'Claudia',
 'Denise',
 'Edzard',
 'Florian',
 'Lea',
 'Michael',
 'Peter',
 'Priska',
 'Ralf',
 'Reto',
 'Thierry',
 'Thomas',
 'Yannick']

In [56]:
kursteilnehmer.sort() # Befehl sort > sortiert die Namen in einer Liste alphabetisch

In [55]:
kursteilnehmer

['Barnaby',
 'Claudia',
 'Denise',
 'Edzard',
 'Florian',
 'Lea',
 'Michael',
 'Peter',
 'Priska',
 'Ralf',
 'Reto',
 'Thierry',
 'Thomas',
 'Yannick']